@use "../abstracts/colors" as *;
@use "../base/typography" as *;

form {
  .form_group {
    border-bottom: solid 1px $ghost-white;
    padding: 15px 0 5px 5px;
    margin-bottom: 5px;
    position: relative;

    label {
      color: $text-gray;
      font-size: 0.87em;
      position: absolute;
      top: 15px;
      left: 5px;
      transition: all 0.3s ease-in-out;
      &.stay-up {
        top: -8px;
      }
    }
    input {
      width: 100%;
      font-size: 0.87em;
      font-weight: 600;
      color: $gray-300;
      text-transform: none;
    }
  }
}
