// Breakpoints for responsive design
$small-screen: 375px;
$tablet: 768px;
$small-desktop: 1024px;

// Font Sizes
$font-xs: 0.75em;
$font-sm: 0.84em;
$font-base: 1em;
$font-md: 1.5em;
$font-lg: 1.9em;
$font-xl: 2.125em;
$font-xxl: 2em;

// Font Weights
$font-bold: 700;
$font-regular: 400;
