@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

/*start container*/
.container {
  background-color: $violet-blue;
  width: clamp(300px, 80vw, 1200px);
  height: 700px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  .main_side {
    @include grid-column-span(7);
    position: relative;
    z-index: 11111;
    background-color: $white-0;
    width: clamp(300px, 50vw, 740px);
    padding: 100px;

    //end main title
    .auth_separator {
      margin: 35px 0 20px;
      width: 100%;
      display: flex;
      justify-content: center;
      > span {
        position: relative;
        &::before {
          @include line-position(50%, -13px);
        }

        &::after {
          @include line-position(50%, 25px);
        }
      }
    }
  }

  .aside_side {
    @include grid-column-span(5);

    header.logo {
      display: flex;
      align-items: center;
      img {
        width: 80px;
      }
    }
    article {
      margin: 0 40px;
    }
    overflow: hidden;
    .hero_image {
      position: relative;
      img {
        position: absolute;
        top: -100px;
        left: 100px;
        z-index: 5;
        filter: blur(9px);
        transform: scale(1);
        animation: fly 2s infinite alternate-reverse;
      }
      @keyframes fly {
        from {
          top: -110px;
          transform: scale(1.2);
        }
        to {
          transform: scale(1.1);
          top: -90px;
        }
      }
    }
  }
}
