@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

.container {
  background-color: $violet-blue;
  width: clamp(300px, 80vw, 1200px);
  height: 700px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
