*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #e6e9fa;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

.left_side {
  grid-column: span 5;
  overflow: hidden;
}
@media (max-width: 836px) {
  .left_side {
    grid-column: span 12;
  }
}
.left_side header.logo {
  display: flex;
  align-items: center;
}
.left_side header.logo img {
  width: 80px;
}
.left_side header.logo p {
  font-size: 2em;
  font-weight: bold;
  color: #6f74dd;
}
.left_side article {
  margin: 0 40px;
}
.left_side article h1 {
  font-size: 1.9em;
  color: #fff;
}
.left_side article h1 span {
  font-size: 2.125em;
}
.left_side article p {
  font-size: 0.75em;
  color: #e6e9fa;
  position: relative;
  z-index: 7;
}
.left_side .hero_image {
  position: relative;
}
.left_side .hero_image img {
  position: absolute;
  top: -100px;
  left: 100px;
  z-index: 5;
  filter: blur(9px);
  transform: scale(1);
  animation: fly 2s infinite alternate-reverse;
}
@media (max-width: 836px) {
  .left_side .hero_image img {
    left: 0px;
  }
}
@keyframes fly {
  from {
    top: -110px;
    transform: scale(1.2);
  }
  to {
    transform: scale(1.1);
    top: -90px;
  }
}

.right_side {
  grid-column: span 7;
  position: relative;
  z-index: 11111;
  background-color: #fff;
  width: clamp(300px, 50vw, 740px);
  border-radius: 30px 0 0 30px;
  padding: 100px;
}
@media (max-width: 836px) {
  .right_side {
    padding: 40px 30px;
    grid-column: span 12;
    width: 100%;
    border-radius: 30px 30px 0 0;
  }
}
@media (max-width: 913px) {
  .right_side {
    padding: 40px 30px;
  }
}
.right_side .co_title {
  color: #525252;
  font-size: 1.5em;
  margin-bottom: 30px;
}
.right_side .auth_separator {
  margin: 35px 0 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.right_side .auth_separator > span {
  color: #a1a1a1;
  text-transform: uppercase;
  font-size: 0.84em;
  position: relative;
}
.right_side .auth_separator > span::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 1px;
  background-color: #a1a1a1;
  top: 50%;
  left: -13px;
  transform: translateY(-50%);
}
.right_side .auth_separator > span::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 1px;
  background-color: #a1a1a1;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
}

.auth_options {
  display: flex;
  gap: 40px;
}
@media (max-width: 376px) {
  .auth_options {
    flex-direction: column;
  }
}
.auth_options .opt_btn {
  border-radius: 4px;
  border: solid 1px #e6e9fa;
  padding: 7px 20px;
  box-shadow: 0px 0px 5px -1px #e6e9fa;
  transition: all 0.3s ease-in-out;
}
.auth_options .opt_btn:hover {
  background-color: #eee;
}
.auth_options .opt_btn a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.85em;
  color: #a1a1a1;
}
@media (max-width: 1250px) {
  .auth_options .opt_btn a {
    font-size: 0.6em;
  }
}
.auth_options .opt_btn a > img {
  width: 17px;
}

.form_btn {
  width: 100%;
  background-color: #3949ab;
  padding: 10px;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  border-radius: 6px;
  margin-top: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.form_btn:hover {
  background-color: #00227b;
}

.form-footer {
  color: #a1a1a1;
  font-size: 0.87em;
  text-transform: none;
  margin-top: 25px;
}
.form-footer a {
  color: #3949ab;
}
.form-footer a:hover {
  color: #00227b;
}

form .form_group {
  border-bottom: solid 1px #e6e9fa;
  padding: 15px 0 5px 5px;
  margin-bottom: 5px;
  position: relative;
}
form .form_group label {
  color: #a1a1a1;
  font-size: 0.87em;
  position: absolute;
  top: 15px;
  left: 5px;
  transition: all 0.3s ease-in-out;
}
form .form_group label.stay-up {
  top: -8px;
}
form .form_group input {
  width: 100%;
  font-size: 0.87em;
  font-weight: 600;
  color: #525252;
  text-transform: none;
}

.container {
  background-color: #3949ab;
  width: clamp(300px, 80vw, 1200px);
  height: 700px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
@media (max-width: 836px) {
  .container {
    width: 100%;
    height: 100vh;
  }
}/*# sourceMappingURL=style.css.map */